port: 8080

spring:
  messages:
    basename: i18n/exception
    encoding: UTF-8
  web:
    resources:
      static-locations: META-INF:/resources, classpath:/resources
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:log4jdbc:postgresql://localhost:5432/memorycard?serverTimezone=UTC&characterEncoding=UTF-8
    username: carduser
    password: carduser
    hikari:
      driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
      maximum-pool-size: 10
      auto-commit: true
  # jpa properties
  jpa:
    hibernate:
      ddl-auto: update # When you launch the application for the first time - switch "none" at "create"
    show-sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true
    properties:
      hibernate:
        default_batch_fetch_size: 200
  flyway:
    enabled: false
    baseline-on-migrate: false
    locations: classpath:/db/migration
    url: jdbc:log4jdbc:postgresql://localhost:5432/memorycard?serverTimezone=UTC&characterEncoding=UTF-8
    user: carduser
    password: carduser
logging:
  config: classpath:logback/logback-spring.xml
  charset:
    console: UTF-8
#  level:
#    org.springframework: INFO
#    org:
#      #JPA Hibernate 로깅
#      hibernate:
#        SQL: WARN
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE
#  file:
#    path: logs
#  logback:
#    rollingpolicy:
#      max-history: 10