<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_DIR" value="logs" />
    <property name="SERVER_NAME" value="cardmemory"/>
    <property name="LOG_PATH_NAME" value="${LOG_DIR}" />
    <property name="FILE_NAME" value="cardmemory-api-server" />

    <!-- FILE Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>${LOG_PATH_NAME}/${FILE_NAME}.log</file> -->
        <file>${LOG_PATH_NAME}/${FILE_NAME}.log</file>
        <!-- 일자별 로그파일 저장 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}/${FILE_NAME}_%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 일자별 로그파일 저장 기간 설정 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- [2018-08-17] [15:24:21.355] [log level] [logName]      [class.java line]       [message] -->
            <!--     날짜           시간       로그레벨    로거이름   로그인클래스.java 몇번째줄    로그메세지 -->
            <pattern>[%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] [%p] [%c{1}] [%F:%L [%m]%n</pattern>
        </layout>
    </appender>



    <!--Log4jdbc-->
    <Loggers>

        <!-- Spring -->
        <Logger name="org.springframework" level="OFF" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger
                name="org.springframework.context.support.ReloadableResourceBundleMessageSource"
                level="OFF" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.hotswap" level="OFF" additivity="false">
        </Logger>

        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <appenderref ref="FILE"/>
        </Logger>

        <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>

        <Logger name="jdbc.sqltiming" level="OFF" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>

        <Logger name="jdbc.audit" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="FILE"/>
        </Root>

    </Loggers>



    <!-- ERROR레벨 이상만 출력 -->
    <!-- <root level="INFO"> -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>